.banner {
    background-image: url('../img/bookbanner.jpg');
    height: 596px;
    background-repeat: no-repeat;
    margin-bottom: 0px!important;
}

.header-text {
    padding-top: 50px!important;
}