.main-content {
    background-image: url('../img/content4.jpg');
    height: 900px;
}

.login-form {
    color: white;
    margin-top: 80px;
    border-radius: 4px;
    background-color: #616FB0;
    box-shadow: 10px 10px 44px 7px rgba(0,0,0,0.75);
    form {
        padding: 32px 32px 0px 32px;
        label {
            font-weight: 100;
            color: rgba($color: #f1f1f1, $alpha: 0.8)
        }
        .form-control {
            background-color: rgba($color: #000000, $alpha: 0.6);
            border: none;
            color: white;
            border-radius: 15px;
        }
        ::placeholder {
            color: rgba($color: #ffffff, $alpha: 0.7);
            font-weight: lighter;
            font-size: 10px;
            letter-spacing: 4px;
        }
    }
}

#sign-up {
    margin-top: 10px;
    font-size: 11px;
    color: #d8d8d8;

    #sign-up-button,#sign-in-button {
        color: #FFB90D!important;
    }
}